In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from IPython.display import HTML

### Dicionário dos Dados

In [2]:
dicionario = pd.read_csv("../data/external/dictionary.csv")
display(HTML(dicionario.to_html(index=False)))

### Loading Dataset

In [16]:
dt = pd.read_csv('../data/raw/data.csv')
dt.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE

### Limpeza e Pré Processamento de Dados

In [17]:
dt.columns = ['species', 'island', 'bill_length_mm', 'bill_depth_mm', 'flipper_length_mm', 'body_mass_g', 'sex']

In [18]:
dt.loc[dt['species'] == 1, 'species'] = 'Adelie'
dt.loc[dt['species'] == 2, 'species'] = 'Chinstrap'
dt.loc[dt['species'] == 3, 'species'] = 'Gentoo'

dt.loc[dt['island'] == 0, 'island'] = 'Torgersen'
dt.loc[dt['island'] == 1, 'island'] = 'Biscoe'
dt.loc[dt['island'] == 2, 'island'] = 'Dream'

dt.loc[dt['sex'] == 0, 'sex'] = 'MALE'
dt.loc[dt['sex'] == 1, 'sex'] = 'FEMALE'

In [19]:
dt['species'].value_counts()

Adelie       152
Gentoo       124
Chinstrap     68
Name: species, dtype: int64

In [20]:
dt['island'].value_counts()

Biscoe       168
Dream        124
Torgersen     52
Name: island, dtype: int64

In [21]:
dt['sex'].value_counts()

MALE      168
FEMALE    165
Name: sex, dtype: int64

In [22]:
dt.isna().sum()

species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
dtype: int64

In [35]:
dt.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,MALE

In [33]:
dt.isna().sum()

species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
dtype: int64

In [15]:
dt.head()

Empty DataFrame
Columns: [species, island, bill_length_mm, bill_depth_mm, flipper_length_mm, body_mass_g, sex]
Index: []